RESEND_API_KEY=<YOUR_RESEND_API_KEY>
OPSHUB_KEY=<YOUR_OPSHUB_KEY>
IP_HASH_SALT=<openssl rand -hex 32>
MAIL_FROM=Labs <hello@labs.mnemostroma.com>
OWNER_EMAIL=<YOUR_EMAIL>
CAPTCHA_ENABLED=false
TURNSTILE_SECRET=
